<ion-view view-title="{{vm.title}}">
  <ion-content scroll="false">
    <!--Filter Tabs-->
    <ion-tabs class="tabs-top tabs-light filter-tabs">
      <ion-tab title="Recent" on-select="vm.listFilter = {orderBy:date}"></ion-tab>
      <ion-tab title="Approved" icon-on="ion-ios-checkmark-outline balanced" on-select="vm.listFilter = 'APPROVE'"></ion-tab>
      <ion-tab title="Rejected" icon-on="ion-ios-close-outline dark-red" on-select="vm.listFilter = 'REJECT'"></ion-tab>
      <ion-tab title="Released" icon-on="ion-ios-time-outline" on-select="vm.listFilter = 'RELEASE'"></ion-tab>
    </ion-tabs>
    <!-- Deposits List -->
    <ion-scroll>
      <ion-list class="gbd-list">
        <ion-item class="stable-bg gbd-list-group" ng-repeat="(key, value) in vm.history | groupBy: 'date'">
          <span class="gbd-list-group-label">{{ key }}</span>
          <ion-list>
            <ion-item class="item item-icon-left item-icon-right" data-ng-repeat="deposit in value | filter:vm.listFilter"   href="#/app/history/{{deposit.id}}">
              <i class="icon" data-ng-class="{'ion-ios-checkmark-outline balanced': deposit.status === 'APPROVE', 'ion-ios-close-outline dark-red': deposit.status === 'REJECT', 'ion-ios-time-outline': deposit.status === 'RELEASE' }"></i>
              <h2>{{deposit.date}} | {{deposit.time}}</h2>
              <h3>Deposit Amount:
                <span class="gray">${{deposit.amount}}</span>
                <span class="item-note">{{deposit.checks.length}}</span>
              </h3>
              <h3>Account: <span class="gray">{{deposit.account}}</span></h3>
              <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
