<ion-view hide-back-button="true"  can-swipe-back="false" view-title="{{vm.title}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-close-empty" data-ng-click="vm.cancelCheck()"></button>
    </ion-nav-buttons>
    <ion-content>
        <form name="vm.captureCheckForm">
            <div class="list">
                <!--Deposit Amount-->
                <label class="item item-input" ng-cloak>
                    <span class="input-label">Total Deposit</span>
                    <input data-ng-currency required type="text" name="depositAmount" data-ng-model="vm.depositAmount" placeholder="Total Deposit Amount" data-ng-change="vm.depositAmountChange()">
                </label>

                <!-- Account Select -->
                <label class="item item-input item-select" ng-cloak>
                    <span class="input-label">Account</span>
                    <select name="account" required data-ng-model="vm.selectedAccount" data-ng-change="vm.accountChange()">
                        <option ng-repeat="account in vm.accounts">{{account.accountNumber}}</option>
                    </select>
                </label>

                <!-- Check Amount -->
                <label class="item item-input" ng-cloak>
                    <span class="input-label">Amount</span>
                    <input data-ng-currency type="text" required name="checkAmount" data-ng-model="vm.checkAmount" placeholder="Check Amount" data-ng-change="vm.checkAmountChange()">
                </label>

                <!-- Scan Check Front Button -->
                <div class="card" data-ng-click="vm.miSnapCheckFront()" >
                    <div class="item item-text-wrap" data-ng-class="{'lightest-yellow-bg': vm.checkFrontImage === 'error'}">
                        <div class="item item-icon-right" data-ng-class="{'lightest-yellow-bg': vm.checkFrontImage === 'error'}">
                            <h2 data-ng-show="vm.checkFrontImage === null || vm.checkFrontImage === 'error'">Capture Check Front</h2>
                            <img class="capture-check-thumbnail" data-ng-show="vm.checkFrontImage !== 'error' && vm.checkFrontImage !== null" data-ng-src="{{vm.checkFrontImage}}"><!-- data:image/jpeg;base64, -->
                            <i class="icon ion-ios-camera-outline positive" data-ng-hide="vm.checkFrontImage !== null || vm.frontCheckLoading"></i>
                            <i class="icon ion-ios-reverse-camera-outline energized" data-ng-show="vm.checkFrontImage === 'error' && vm.checkFrontImage !== null && !vm.frontCheckLoading"><span class="rescan-text">Rescan</span></i>
                            <i class="icon" data-ng-show="vm.frontCheckLoading">
                                <ion-spinner class="spinner-positive" data-icon="lines"></ion-spinner>
                            </i>
                        </div>
                    </div>
                </div>

                <!-- Scan Check Back Button -->
                <div class="card" data-ng-click="vm.miSnapCheckBack()">
                    <div class="item item-text-wrap" data-ng-class="{'lightest-yellow-bg': vm.checkBackImage === 'error'}">
                        <div class="item item-icon-right" data-ng-class="{'lightest-yellow-bg': vm.checkBackImage === 'error'}">
                            <h2 data-ng-show="vm.checkBackImage === null || vm.checkBackImage === 'error'">Capture Check Back</h2>
                            <img class="capture-check-thumbnail" data-ng-show="vm.checkBackImage !== 'error' && vm.checkBackImage !== null" data-ng-src="{{vm.checkBackImage}}"><!-- data:image/jpeg;base64, -->
                            <i class="icon ion-ios-camera-outline positive" data-ng-hide="vm.checkBackImage !== null || vm.backCheckLoading"></i>
                            <i class="icon ion-ios-reverse-camera-outline energized" data-ng-show="vm.checkBackImage === 'error' && vm.checkBackImage !== null && !vm.backCheckLoading"><span class="rescan-text">Rescan</span></i>
                            <i class="icon" data-ng-show="vm.backCheckLoading">
                                <ion-spinner class="spinner-positive" data-icon="lines"></ion-spinner>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
    <!-- Footer -->
    <div class="bar bar-footer royal-bg stable" >
        <a class="title" data-ng-click="vm.submitCheck(vm.captureCheckForm.$error)">
            <span ng-if="vm.depositObj.type === 'SINGLE'">Submit Check</span>
            <span ng-if="vm.depositObj.type === 'MULTIPLE'">Add Check</span>
        </a>
    </div>
</ion-view>
