<ion-view view-title="{{vm.title}}">
  <ion-content>
    <ul class="list">
      <li class="item text-center">
        Welcome {{vm.userSignedIn}}
      </li>
    </ul>
    <!-- Single Deposit Card -->
    <div class="list card" data-ng-click="vm.singleDeposit()">
      <div class="item positive-bg text-center">
        <i class="icon ion-cash stable icon-make-deposit"></i>
      </div>
      <a class="item stable dark-red-bg text-center" href="#">
        Make a Single Deposit
      </a>
    </div>

    <!-- Multiple Deposit Card -->
    <div class="list card" data-ng-click="vm.multipleDeposit()">
      <div class="item positive-bg text-center">
        <i class="icon ion-cash stable icon-make-deposit"></i>
      </div>
      <a class="item stable dark-red-bg text-center" href="#">
        Make a Multiple Check Deposit
      </a>
    </div>
  </ion-content>
</ion-view>
