<ion-view>
    <ion-content>
        <!--Title Banner-->
        <div class="signin-banner light-bg text-center"><h3>{{vm.appName}}</h3></div>
        <!--Signin Form-->
        <form name="vm.signinForm">
            <div class="list card">
                <!-- User Name -->
                <label class="item item-input">
                    <input name="username" placeholder="Username:" type="text" data-ng-model="vm.username" required data-ng-change="vm.usernameChange()">
                </label>
                <!-- Password -->
                <label class="item item-input">
                    <input name="password" placeholder="Password:" type="password" data-ng-model="vm.password" required data-ng-change="vm.passwordChange()">
                </label>
                <!-- Signin Button -->
                <a class="item item-positive text-center" href="#" data-ng-click="vm.signin()">
                    <i class="icon ion-android-lock"></i>
                    Secure Signin
                </a>
            </div>
        </form>
    </ion-content>
    <!--support link-->
    <div class="tabs tabs-icon-left tabs-light">
        <a class="tab-item">
            <i class="icon ion-ios-telephone"></i>
            Need Help? Call Us.
        </a>
    </div>
</ion-view>