<ion-view view-title="{{vm.status}} {{vm.title}}">
  <ion-content>
    <div class="list">
      <!-- Description -->
      <label class="item item-input item-stacked-label light-bg" ng-cloak>
        <span class="input-label">Description</span>
        <textarea placeholder="Enter description for status update"  data-ng-model="vm.description" data-ng-change="vm.descriptionChange()"></textarea>
      </label>
    </div>
  </ion-content>
  <!-- Footer -->
  <div class="bar bar-footer bar-royal" data-ng-click="vm.submitStatus()">
    <div class="title">{{vm.status}}</div>
  </div>
</ion-view>
